img{
    border-radius: 10px;
}
h1{
    color: bisque;
    margin: 25px;
}

.main{
    height: 100px;
    background: #000;
    display: flex;
    justify-content: space-between;
}
.sub{
    margin-top: 35px;
    font-size: x-large;
   margin-right: 200px;
    color: black;
    

}
img{
    max-height: 70%;
    max-width: 100%;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: aqua;
}